In [25]:
import pandas as pd
music_data=pd.read_csv("music.csv")
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

Data EXploration similar to R,
Trying to get a feel for how I would do it for python instead of R

In [26]:
music_data.shape

(18, 3)

In [27]:
music_data.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [28]:
music_data.values

array([[20, 1, 'HipHop'],
       [23, 1, 'HipHop'],
       [25, 1, 'HipHop'],
       [26, 1, 'Jazz'],
       [29, 1, 'Jazz'],
       [30, 1, 'Jazz'],
       [31, 1, 'Classical'],
       [33, 1, 'Classical'],
       [37, 1, 'Classical'],
       [20, 0, 'Dance'],
       [21, 0, 'Dance'],
       [25, 0, 'Dance'],
       [26, 0, 'Acoustic'],
       [27, 0, 'Acoustic'],
       [30, 0, 'Acoustic'],
       [31, 0, 'Classical'],
       [34, 0, 'Classical'],
       [35, 0, 'Classical']], dtype=object)

In [29]:
music_data.info()
# music_data.head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
age       18 non-null int64
gender    18 non-null int64
genre     18 non-null object
dtypes: int64(2), object(1)
memory usage: 512.0+ bytes

Split independent variables from dependent variables 
(Dont have to do this in R but need to in python)

In [47]:
x=music_data.drop(columns=["genre"])  #Use shift tab to see what the method does
y=music_data["genre"]
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

Model Building using Scikit learn

In [48]:
from sklearn.tree import DecisionTreeClassifier

model=DecisionTreeClassifier()
model.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [223]:
#Use the model to predict genre a 21 year old male 
#and a 22 year old female would like


model.predict([[21,1],[22,0]])

array(['HipHop', 'Dance'], dtype=object)

Need to split for training and testing so that we can determine the accuracy of our model 
(Similar to CAtools in R)

In [193]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.externals import joblib

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20)
#20% of data used for testing, 80% used for training
#Using the train_test_split method to create 4 diff variables

model1=DecisionTreeClassifier()
model1.fit(x_train,y_train)
predictions = model1.predict(x_test) #make predicitons for the test set
print(predictions)
print(y_test)

score=accuracy_score(y_test, predictions)
score

joblib.dump(model1, "DecisionTreeModel.joblib")

['Classical' 'Acoustic' 'Classical' 'Acoustic']
15    Classical
12     Acoustic
8     Classical
14     Acoustic
Name: genre, dtype: object

['DecisionTreeModel.joblib']

Load an already trained model back in using joblib

In [225]:
modelx=joblib.load("DecisionTreeModel.joblib")
xpredict=modelx.predict(x_test)
print(xpredict)
print(y_test)

xscore=accuracy_score(y_test, xpredict)
print(xscore)

#Predict 21 yr old male and 22 yr old female
print(modelx.predict([[21,1],[22,0]])) #same as before

['Classical' 'Acoustic' 'Classical' 'Acoustic']
15    Classical
12     Acoustic
8     Classical
14     Acoustic
Name: genre, dtype: object
1.0
['HipHop' 'Dance']

Visualize Decision Tree
Does this through a dot file that can be viewed on VScode
Press the 3 dot icon then open preview to the side

In [227]:
from sklearn import tree

tree.export_graphviz(model1, out_file='music_recommender.dot',
                    feature_names=['age','gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)